body {
	background: rgba(7, 33, 61, 0.986);


	h1 {
		color: red;

		@media (max-width:767px) {
			color: green;
		}
	}

	h2 {
		color: yellow;

		@media (max-width:767px) {
			color: white;
		}
	}

	@media (max-width:767px) {
		background-color: #000;
	}

	div {
		display: grid;
	}

	.flex {
		display: flex;
	}

}